<h1>Listing posts</h1>
 
<table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Title</th>
        <th>content</th>
        <th>latitude</th>
        <th>longitude</th>
        <th></th>
      </tr>
     </thead>
 
  <% @posts.each do |post| %>
    <tr>
      <td scope="row"><%= post.user_id %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.lat %></td>
      <td><%= post.lon %></td>
      <td><%= link_to 'Show', post_path(post) %>
      
<!-- 보람)) 작성자 -> 수정 / 삭제 버튼 보이게--> 
      <% if current_user.id == post.user_id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= button_to "실시간 채팅", home_index_path, :id => "index-btn", :class => "btn btn-primary", :method => :get %>
<%= button_to "글쓰기", new_post_path, :class => "btn btn-success", :method => :get %>

