 <style>
    .map_wrap {position:relative;width:100%;height:350px;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
</style>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.content %>
</p>

<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
    <div class="hAddr">
        <span class="title">지도중심기준 행정동 주소정보</span>
        <span id="centerAddr"></span>
    </div>
</div>
 
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=194dda0c9f26fd6381c1f54652c244e6&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new daum.maps.LatLng(<%= @post.lat %>, <%= @post.lon %>), // 지도의 중심좌표
        level: 1 // 지도의 확대 레벨
    };


// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new daum.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new daum.maps.services.Geocoder();

// 지도 관련 코드 시작 
// 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
searchAddrFromCoords(map.getCenter(), displayCenterInfo);

function searchAddrFromCoords(coords, callback) {
    // 좌표로 행정동 주소 정보를 요청합니다
    geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
}

function searchDetailAddrFromCoords(coords, callback) {
    // 좌표로 법정동 상세 주소 정보를 요청합니다
    geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
}


// 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
function displayCenterInfo(result, status) {
    if (status === daum.maps.services.Status.OK) {
        var infoDiv = document.getElementById('centerAddr');

        for(var i = 0; i < result.length; i++) {
            // 행정동의 region_type 값은 'H' 이므로
            if (result[i].region_type === 'H') {
                infoDiv.innerHTML = result[i].address_name;
                break;
            }
        }
    }    
}
// 지도 관련 코드 끝

// 마커가 표시될 위치입니다 
var markerPosition  = new daum.maps.LatLng(<%= @post.lat %>, <%= @post.lon %>); 

// 마커를 생성합니다
var marker = new daum.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);


  
</script>

<!-- 작성자 -> 수정 / 삭제 버튼 보이게--> 
<% if current_user.id == @post.user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %> 
    <%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<!-- 작성자 외  신청 버튼 보이게-->
<% else %>
    <% if current_user.is_apply? (@post) %>
  <form action='/post/<%= @post.id%>/apply' method='post'>
  <button> 신청하기 취소 </button>  
  </form>
  
  <% else %>
  <form action='/post/<%= @post.id%>/apply' method='post'>
  <button> 신청하기</button>  
  </form>
  
  <% end %>
<%end%>



<br> <%= @post.applies.size %> 신청서수 <br>

<!-- 글작성자만 신청서가 보이게 했습니다 -->
<% if current_user.id == @post.user_id %>
    <% @post.applies.each do |a| %>
        <%= a.user_id %>
        <% if a.matching  %> 
            <button> 수락완료 </button>
        <% else %>
             <button onclick="location.href='/post/<%=@post.id%>/apply_accept/<%=a.id%>' "> 수락하기 </button>
        <% end %>
    <% end %>
<% end %>
<br>
<%= link_to 'Back', posts_path %>