<!DOCTYPE html>
<html>
  <head>
    <title>주거니받거니</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= link_to "로그아웃", destroy_user_session_path, data: {method: "delete"} %>
   
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
